/***debug***/
.debug header.container {
  height: 500px;
}

.debug [class*="col-"]{
  height: 300px;
  background-color: pink;
  border: 1px solid darkolivegreen;
}
/***debug-close***/


.bg-darkblu {
    background-color: #2c3e50;
}
.bg-green {
  background-color: #1abc9c;
}

/***MAIN***/
body {
  text-align: center;
}
.navbar h3 {
  color:white;
  text-align: left;
}
input {
  display: block
}
label {
  display: none !important;
}
#portfolio div.row > div[class*="col-"] {
  margin: 15px 0;
}

#portfolio {
  padding-bottom: 15px;
}

/***MAIN-CLOSE***/
/* responsive */
@media (min-width: 992px ) and (max-width: 768px) {
  #portfolio div.row > div[class*="col-"]:not( :last-child
    ) {
    margin-right: 15px ;
  }
}
