/****font***/
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/****font-CLOSE***/
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/***debug***/
.debug header.container {
  height: 500px;
}

.debug [class*="col-"]{
  height: 300px;
  background-color: pink;
  border: 1px solid darkolivegreen;
}
/***debug-close***/

body {
  text-align: center;
  font-size: 16px;
  font-family:'Roboto','Lato', sans-serif !important;
}
a span{
  font-family:'Lato', 'Roboto', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
  font-family: 'Montserrat', sans-serif !important;
}

input {
  display: block
}

label {
  display: none !important;
}

.bg_darkblu {
    background-color: #2c3e50;
}
.bg_white {
  background-color: white;
}
.bg_black {
  background-color: black;
}
.bg_green {
  background-color: #1abc9c;
}

section#about, section#form_contact, section#start, section#portfolio, #footer_top {
  padding: 50px;
}
.ricamo {
  margin-bottom: 20px;
}
span.divider_custome_line + span::after {
  display: inline-block;
  content: "\e006";
  vertical-align: bottom;
  font-family: "Glyphicons Halflings";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.divider_custome_line {
  display: inline-block;
  width: 100px;
  height: 3px;
  vertical-align: middle;
  margin:0 15px;
}

.btn_outline_white {
  color: #f8f9fa;
  border: 2px solid #f8f9fa !important;
  letter-spacing:0.4px;
}
.btn_outline_white span {
  margin-left: 5px;
}
.btn_outline_white:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa !important;
}

.btn_green {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: white;
}
.btn_green:hover {
  color: white !important;
  background-color: #159a80 !important;
  border-color: #148f77 !important;
}


/***HEADER***/
header, header a {
  color: white;
}

nav {
  height: 80px;
  padding: 0 10%;
}
.navbar h3 {
  text-align: left;
}

a#title_navbar {
  margin-right: 150px;
  height: 80px;
  line-height: 80px;

}
#title_navbar h4 {
  vertical-align: middle;
  transform: translateY(50%);
}
#nav_items a {
  line-height: 50px;
  vertical-align: middle;
}
/***section start***/
section#start {
  margin-top: 80px;
}
img.avatar {
  width: 240px;
}

#start h1 {
  font-size: 2.60em;
}
#start p {
  font-size: 16px;
}


/***HEADER-CLOSE***/
/***MAIN***/
/***section portfolio***/
#items_portfolio img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 15px;
  margin-bottom: 20px;
}
.wrap_relative{
 position: relative;
}
.cover_img i{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.cover_img {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  border-radius: 15px;
  font-size: 70px;
  color: white;
  top:0;
  height: 100%;
}
.wrap_relative:hover .cover_img{
  display: block;
  background-color: rgba(26, 188, 156, 0.9);
  z-index: 1;
}

#portfolio {
  padding-bottom: 15px;
  color: black;
}
/***section-portfolio-CLOSE***/
/***section about***/
#about{
  color: white;
  min-height: 300px;
}

.padding_50_right{
  padding-right: 50px;
}

.padding_50_left {
  padding-left: 50px;
}
#about_items div[class*="col-"] > p {
  text-align: left;
}

/***section about-CLOSE***/
.contact_me input:not([type="submit"]),.contact_me textarea{
  width: 100%;
  border:0;
  border-bottom: 1px solid grey;
}
[type="submit"] {
  float: left;
}
 form.contact_me{
  line-height: 50px;
  padding: 0 50px;
}
.contact_me textarea {
  min-height: 200px;
}
/***MAIN-CLOSE***/
/***FOOTER***/
footer {
  color: white;
}
footer h4 {
  font-size: 1.3em;
  font-weight: 400 !important;
}
/***footer top***/

.fa-facebook-f, .fa-twitter,.fa-linkedin-in,.fa-google-plus-g {
  width:9.6px;
  height: 10px;
}
.radius{
  border-radius: 100% !important;
}

#footer_top p a {
  color: #148f77;
}

/***footer top-CLOSE***/
#footer_bottom {
  height: 80px;
  line-height: 70px;
  vertical-align: middle;
  background-color: #1a252f;
}
/***FOOTER-CLOSE***/
/* responsive */
@media (max-width: 778px ) {
  .padding_50_right{
    padding-right: 0px;
  }
  .padding_50_left {
    padding-left: 0px;
  }
  .divider_custome_line {
    width: 50px;
  }
  .toogle_menu {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid darkgray !important;
    border-radius: 5px;
    position: relative;
    top: 25%;
    float: right;
    margin-right:15px;
  }
  .icon_bar {
    display: block;
    width: 20px;
    border-bottom:1px solid darkgray;
    margin:4px 0;
  }
  a#title_navbar{
    margin-right: 50px;
  }
  nav {
    padding: 0;
  }
  ul#nav_items {
    display: none;
  }
}
